@font-face {
  font-family: PokemonGB;
  src: url('fonts/Pokemon_GB.ttf');
}

body {
  margin: 0.5em 0.5em 0.5em 0.5em;
  background-color: #CE1111;
  font-family: 'PokemonGB', Arial, sans-serif;
  border: 6px solid #9D1414;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  box-shadow: 0 0 10px black;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #059ac7;
  border-radius: 100vw;
  margin-top: 9em;
  margin-bottom: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #047092;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #034d63;
}

.pokedex-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.list-container {
  margin-bottom: 1rem;
}

.pokemon-list {
  background-color: #f9f4eb;
  border: solid #9D1414 1rem;
  list-style-type: none;
  padding: 2rem;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
    padding: 1rem;
}

.blue_light_icon {
  max-width: 100%;
  height: 80px;
  margin-right: 20px;
}

.status-lights {
  max-width: 100%;
  height: 20px;
}

.pokedex_status-lights {
  margin-left: 20px;
}

.form-control {
  background-color: #f9f4eb;
}

.btn-primary {
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  font-family: 'PokemonGB', Arial, sans-serif;
  color: #f9f4eb;
  background-color: #059ac7;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #047092;
}

.btn-primary:active {
  box-shadow: 0 2px #047092;
  transform: translateY(8px);
}

.btn-primary img {
  width: 300px;
  height: 300px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'PokemonGB', Arial, sans-serif;
}

.modal-content {
  border-radius: 30px;
  border: solid #9D1414 10px;
  background-color: #f9f4eb;
  box-shadow: 0 0 80px 5px #9D1414;
}

.modal-title {
  text-transform: capitalize;
}

.modal-title h1 {
  font-size: 30px;
}

.modal-body {
  text-align: center;
}

.form-check {
  float: right;
  font-size: 15px;
}

.hidden {
  display: none;
}

@media all and (max-width: 860px) {
  .btn-primary img {
    width: 200px;
    height: 200px;
  }
}

@media all and (max-width: 550px) {
  .btn-primary {
    font-size: 15px;
  }
  body {
    padding-right: 1em;
    padding-left: 1em;
  }
  .blue_light_icon {
  max-width: 100%;
  height: 40px;
  }
  .btn-primary img {
    width: 100px;
    height: 100px;
  }
  h1 {
    font-size: 22px;
  }
  .form-check {
    font-size: 10px;
  }
  .modal-title h1 {
    font-size: 18px;
  }
}
