@font-face {
  font-family: PokemonGB;
  src: url('fonts/Pokemon_GB.ttf');
}

body {
  margin: 0.5em 0.5em 0.5em 0.5em;
  background-color: #CE1111;
  font-family: 'PokemonGB', Arial, sans-serif;
  border: 6px solid #9D1414;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  box-shadow: 0 0 10px black;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #059ac7;
  border-radius: 100vw;
  margin-top: 9em;
  margin-bottom: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #047092;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #034d63;
}

.pokedex-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pokemon-list {
  background-color: #f8f8ff;
  border: solid #9D1414 1rem;
  columns: 240px 4;
  column-rule: solid;
  column-gap: 6em;
  list-style-type: none;
  padding: 2rem;
  box-shadow: 0 0 10px black;
}

li {
    margin-top: 0;
    margin-bottom: 15px;
}

.btn-primary {
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  font-family: 'PokemonGB', Arial, sans-serif;
  color: #fff;
  background-color: #059ac7;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #047092;
}

.btn-primary:active {
  box-shadow: 0 1px #047092;
  transform: translateY(4px);
}

h1 {
  font-size: 40px;
  font-family: 'PokemonGB', Arial, sans-serif;
}

.modal-content {
  border-radius: 30px;
  border: solid #9D1414 10px;
  background-color: #f8f8ff;
  box-shadow: 0 0 80px 5px #9D1414;
}

.modal-title {
  text-transform: capitalize;
}

.modal-body {
  text-align: center;
}

@media all and (max-width: 550px) {
  .btn-primary {
    font-size: 15px;
  }
  body {
    padding-right: 1em;
    padding-left: 1em;
  }
  h1 {
    font-size: 22px;
  }
}
